<section>
    <h2 class="text-uppercase font-weight-light">
        Sobre
    </h2>
</section>

<section class="conteudo">
    <p class="lead">
        Banco | Aplicação que visualiza contas do banco Simples
    </p>
    <p class="lead">
        Serviços diposnibilizados na API
    </p>
    <p class="lead">
        1) Serviço para verificar o saldo de uma conta corrente.
    </p>
    <p class="lead">
        2) Serviço para realizar um depósito em uma determinada conta corrente.
    </p>
    <p class="lead">
        3) Serviço para realizar um saque de uma determinada conta corrente.
    </p>

</section>