<nav class="navbar navbar-expand-lg text-center navbar-dark bg-dark">
    
    <div class="container">

        <a class="navbar-brand" [routerLink]="['']">Banco</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
            aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActivated="active">
                    <a class="nav-link" [routerLink]="['/contas']">Contas <span class="sr-only">(página atual)</span></a>
                </li>
                <li class="nav-item" routerLinkActivated="active">
                    <a class="nav-link" [routerLink]="['/sobre']">Sobre</a>
                </li>
            </ul>
        </div>
    </div>
    
    
</nav>