<cb-conta-detalhe [conta]="conta"></cb-conta-detalhe>

{{ form.valid }}
{{ form.value | json }}

<form novalidate #form="ngForm" class="bg-dark text-white" style="margin-top: 30px; padding: 1em; border-radius: .25rem;">

    <h3 class="text-uppercase text-white">
        Operação Bancária
    </h3>

    <div class="form-group">
        <label for="valor">Valor desejado:</label>
        <input type="number" class="form-control is-valid" #iptValor="ngModel" required name="valor" id="valor" ngModel
            placeholder="R$"
            [class.is-valid]="iptValor.valid && (iptValor.dirty || iptValor.touched)"    
            [class.is-invalid]="!iptValor.valid && (iptValor.dirty || iptValor.touched)"    
        >
        <div *ngIf="iptValor.valid && (iptValor.dirty || iptValor.touched)" class="valid-feedback">Ok!</div>
        <div *ngIf="!iptValor.valid && (iptValor.dirty || iptValor.touched)" class="invalid-feedback">Campo obrigatório!</div>
    </div>

    <div class="custom-control custom-radio">
        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
        <label class="custom-control-label" for="customRadio1">Depósito</label>
    </div>
    <div class="custom-control custom-radio">
        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
        <label class="custom-control-label" for="customRadio2">Saque</label>
    </div>


    <button [disabled]="!form.valid" style="margin-top: 20px;" class="btn btn-primary">Enviar</button>


</form>