<h2 class="text-uppercase font-weight-light">
    Todas as contas
</h2>

<div class="conteudo">

    <div class="row">

        <div class="col-sm-6 col-xs-12">

            <a href="#">
                <div class="card text-white bg-info mb-3" style="min-width: 16rem;">
                    <div class="card-header text-uppercase">
                        <span class="float-left">Conta Bancária</span>
                        <i class="float-right">12</i>
                    </div>
                    <div class="card-body">

                        <div class="card-content">

                            <img src="assets/img/grana.png" alt="">

                            <dl>
                                <dt class="card-title">Saldo</dt>
                                <dd class="card-text">R$ 500,00</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </a>

        </div>

        <div class="col-sm-6 col-xs-12">

            <a href="#">
                <div class="card text-white bg-info mb-3" style="min-width: 16rem;">
                    <div class="card-header text-uppercase">
                        <span class="float-left">Conta Bancária</span>
                        <i class="float-right">12</i>
                    </div>
                    <div class="card-body">

                        <div class="card-content">

                            <img src="assets/img/grana.png" alt="">

                            <dl>
                                <dt class="card-title">Saldo</dt>
                                <dd class="card-text">R$ 500,00</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </a>

        </div>

        <div class="col-sm-6 col-xs-12">

            <a href="#">
                <div class="card text-white bg-info mb-3" style="min-width: 16rem;">
                    <div class="card-header text-uppercase">
                        <span class="float-left">Conta Bancária</span>
                        <i class="float-right">12</i>
                    </div>
                    <div class="card-body">

                        <div class="card-content">

                            <img src="assets/img/grana.png" alt="">

                            <dl>
                                <dt class="card-title">Saldo</dt>
                                <dd class="card-text">R$ 500,00</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </a>

        </div>

        <div class="col-sm-6 col-xs-12">

            <a href="#">
                <div class="card text-white bg-info mb-3" style="min-width: 16rem;">
                    <div class="card-header text-uppercase">
                        <span class="float-left">Conta Bancária</span>
                        <i class="float-right">12</i>
                    </div>
                    <div class="card-body">

                        <div class="card-content">

                            <img src="assets/img/grana.png" alt="">

                            <dl>
                                <dt class="card-title">Saldo</dt>
                                <dd class="card-text">R$ 500,00</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </a>

        </div>

        <div class="col-sm-6 col-xs-12">

            <a href="#">
                <div class="card text-white bg-info mb-3" style="min-width: 16rem;">
                    <div class="card-header text-uppercase">
                        <span class="float-left">Conta Bancária</span>
                        <i class="float-right">12</i>
                    </div>
                    <div class="card-body">

                        <div class="card-content">

                            <img src="assets/img/grana.png" alt="">

                            <dl>
                                <dt class="card-title">Saldo</dt>
                                <dd class="card-text">R$ 500,00</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </a>

        </div>
    </div>
</div>